<div class="client-wrapper mt-5">
  <h2 *ngIf="!editMode">Dodaj klienta:</h2>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <mat-label>Imię</mat-label>
        <input matInput formControlName="firstname" />
        <mat-error *ngIf="controls.firstname.invalid">{{
          getError("firstname")
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Nazwisko</mat-label>
        <input matInput formControlName="surname" />
        <mat-error *ngIf="controls.surname.invalid">{{
          getError("surname")
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Adres e-mail</mat-label>
        <input
          matInput
          type="email"
          placeholder="user@example.com"
          formControlName="email"
        />
        <mat-error *ngIf="controls.email.invalid">{{
          getError("email")
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <!-- <mat-form-field>
        <mat-label>Telefon</mat-label>
        <input
          matInput
          formControlName="phone"
          type="phone"
          placeholder="+48 000 000 000"
        />
        <mat-error *ngIf="controls.phone.invalid">{{
          getError("phone")
        }}</mat-error>
      </mat-form-field> -->
      <app-phone-control formControlName="phone"></app-phone-control>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Adres</mat-label>
        <input matInput formControlName="address" />
        <mat-error *ngIf="controls.address.invalid">{{
          getError("address")
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Kod pocztowy</mat-label>
        <input matInput formControlName="postcode" placeholder="00-000" />
        <mat-error *ngIf="controls.postcode.invalid">{{
          getError("postcode")
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-end">
      <ng-container *ngIf="!editMode">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="clientForm.invalid"
        >
          Dodaj nowego klienta
        </button>
      </ng-container>
      <ng-container *ngIf="editMode">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="m-1"
          [disabled]="clientForm.invalid"
        >
          Zapisz dane klienta
        </button>
        <button
          type="button"
          mat-raised-button
          color="warn"
          class="m-1"
          (click)="closeDialogClick()"
        >
          Anuluj
        </button>
      </ng-container>
    </div>
    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
  </form>
</div>
