<p class="mt-4">
  Dodaj nowe zadanie
</p>
<input type="text" #name class="form-control" name="todo">
<button class="btn btn-primary mt-3" (click)="addTodo(name.value)">Dodaj zadanie</button>
<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" *ngIf="errorMessage.length>1">
  {{errorMessage}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clearErrorMessage()"></button>
</div>

<div class="mt-5">
  <h4>
    Zadania
  </h4>
  <ul class="list-group todo-list" *ngIf="todos.length > 0">
    <li class="list-group-item" *ngFor="let todo of todos; index as i">
      <input type="checkbox" class="form-check-input my-1" [checked]="todo.isComplete" (change)="changeTodoStatus(todo)">
      <span class="todo-item" [ngClass]="{'text-decoration-line-through':todo.isComplete}">{{i+1}}. {{todo.name}}</span>
    </li>
  </ul>
  <h5 *ngIf="todos.length==0">Aktualnie brak zadań!</h5>
  <!-- <ng-template #noTask>
    <h5>Aktualnie brak zadań!</h5>
  </ng-template> -->
</div>
