<app-add-todo-form (newTodo)="addTodo($event)"></app-add-todo-form>
<app-alert *ngIf="errorMessage.length>1" [errorMessage]="errorMessage" (clearMessage)="clearErrorMessage()"></app-alert>
<div class="mt-5">
  <h4>
    Zadania
  </h4>

  <ul class="list-group todo-list" *ngIf="todos.length > 0">
    <ng-container *ngFor="let todo of todos; index as i">
      <app-todo [todo]="todo" [i]="i" (del)="deleteTodo(i)"></app-todo>
    </ng-container>
  </ul>
  <h5 *ngIf="todos.length==0">Aktualnie brak zadań!</h5>
  <!-- <ng-template #noTask>
    <h5>Aktualnie brak zadań!</h5>
  </ng-template> -->
</div>
