<div class="login-wrapper mt-5">
  <h2>Zaloguj się</h2>
  <form #f="ngForm" (ngSubmit)="onLogin()">
    <div>
      <mat-form-field>
        <mat-label>Nazwa użytkownika</mat-label>
        <input
          matInput
          required
          minlength="4"
          maxlength="30"
          name="username"
          [(ngModel)]="userData.username"
        />
      </mat-form-field>
    </div>
    <ng-container
      *ngIf="f.controls?.['username']?.invalid && f.controls?.['username']?.touched && f.controls?.['username']?.dirty"
    >
      <app-alert
        *ngIf="f.controls?.['username']?.errors"
        [text]="'Nazwa użytkownika musi mieć od 4 do 30 znaków.'"
      ></app-alert>
    </ng-container>
    <div>
      <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input
          matInput
          required
          minlength="4"
          maxlength="30"
          [type]="hide ? 'password' : 'text'"
          name="password"
          [(ngModel)]="userData.password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <ng-container
      *ngIf="f.controls?.['password']?.invalid && f.controls?.['password']?.touched && f.controls?.['password']?.dirty"
    >
      <app-alert
        *ngIf="f.controls?.['password']?.errors"
        [text]="'Hasło musi mieć od 4 do 30 znaków.'"
      ></app-alert>
    </ng-container>
    <div class="d-flex justify-content-end">
      <button
        type="submit"
        [disabled]="!f.valid"
        mat-raised-button
        color="primary"
      >
        Zaloguj
      </button>
    </div>
    <div>
      <p class="text-center">
        Nie masz konta? <a routerLink="/rejestracja">Zarejestruj się!</a>
      </p>
    </div>
    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
  </form>
</div>
