table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 15%;
}

td:first-child,
th:first-child {
  width: 10%;
}

.table-container {
  width: 94%;
  margin: 0 auto;
}
