<ng-container *ngIf="product">
  <div class="row">
    <div class="col-md-6 col-12">
      <app-carousel
        [productName]="product.name"
        [imageUrls]="product.imageUrls"
      ></app-carousel>
    </div>
    <div
      class="col-md-6 d-flex align-items-center justify-content-center col-12"
    >
      <div class="text-center">
        <p class="product-name">{{ product.name }}</p>
        <p>{{ product.price | currency: 'zł' }}</p>
        <button mat-raised-button color="primary">Kup teraz!</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      <p class="product-dsc">Opis produktu</p>
      <div *ngIf="htmlContent" [innerHTML]="htmlContent"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      <p class="product-dsc">Specyfikacja</p>
      <p class="text-center">Parametry</p>
      <table class="table table-bordered">
        <tbody>
          <tr *ngFor="let param of parameters | keyvalue">
            <td class="text-end table-cell">
              <span class="prod-param-key">{{ param.key }}</span>
            </td>
            <td class="text-start table-cell">{{ param.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
