<div class="mt-3">
  <p *ngIf="!todo">There is no such task!</p>
  <div *ngIf="todo">
    <p>The content of the task: {{todo.name}}</p>
    <p>Is Complete: {{todo.isComplete?'yes':'no'}}</p>

    <p>Navigation:</p>
    <div class="d-flex flex-row justify-content-end " style="width: 300px;">
      <button *ngIf="id>0" class="btn btn-sm btn-info mx-1" (click)="navigateToPreviousTodo()">Previous Todo</button>
      <button class="btn btn-sm btn-info mx-1" (click)="navigateToTodoList()">All Todos</button>
      <button *ngIf="id<todoLenght-1" class="btn btn-sm btn-info mx-1" (click)="navigateToNetxTodo()">Next Todo</button>
    </div>

  </div>
</div>
