<li class="list-group-item" >
  <input type="checkbox" class="form-check-input my-1" [checked]="todo.isComplete" (change)="changeTodoStatus(todo)">
  <span class="todo-item" [ngClass]="{'text-decoration-line-through':todo.isComplete}">{{i+1}}. {{todo.name | firstLetterUppercase}}</span>
  <button type="button" class="btn btn-danger btn-sm mx-2" (click)="deleteTodo()">Usuń</button>
</li>

<!-- <p>{{ todo.name }}</p>
<p>{{ todo.name | uppercase }}</p> -->

<!-- <p>{{ todo }}</p>
<p>{{ todo | json }}</p>
<pre>{{ todo | json }}</pre> -->

<!-- <p>{{'test tytułu' | titlecase}}</p> -->

<!-- <p>{{'przytnij' | slice:0:4}}</p> -->

<!-- <p *ngFor="let item of keyValueTest | keyvalue">{{item.key}}: {{item.value}}</p> -->

<!-- <p>{{1.3 | number}}</p>
<p>{{0.25 | percent}}</p>
<p>{{10 | currency:'PLN':'PLN'}}</p>
<p>{{'2023-03-01' | date:'longDate'}}</p> -->

<app-modal [title]="'Czy napewno chcesz usunąć zadanie o numerze '+(i+1)+'?'" (close)="close()" *ngIf="isDelete">
  <div class="d-flex justify-content-end mx-4">
    <button class="btn btn-danger btn-sm mx-2" (click)="deleteToDO()">Usuń</button>
    <button class="btn btn-info btn-sm mx-2" (click)="close()">Anuluj</button>
  </div>
</app-modal>
