<div class="register-wrapper mt-5">
  <h2>Zarejestruj się</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div>
      <mat-form-field>
        <mat-label>Nazwa użytkownika</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="controls.username.invalid">{{
          getUsernameError()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Adres e-mail</mat-label>
        <input
          matInput
          type="email"
          placeholder="user@example.com"
          formControlName="email"
        />
        <mat-error *ngIf="controls.email.invalid">{{
          getEmailError()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="controls.password.invalid">{{
          getPasswordError()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Powtórz hasło</mat-label>
        <input matInput type="password" formControlName="repassword" />
        <mat-error
          *ngIf="
            controls.repassword.invalid ||
            controls.repassword.hasError('matching')
          "
          >{{ getRepasswordError() }}</mat-error
        >
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-end">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="registerForm.invalid"
      >
        Zarejestruj
      </button>
    </div>
    <div>
      <p class="text-center">
        Masz już konto? <a routerLink="/logowanie">Zaloguj się!</a>
      </p>
    </div>
    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
  </form>
</div>
