<form [formGroup]="recoveryForm">
  <div class="form-input">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="adam@example.com"
        [formControl]="controls.email"
      />
      <mat-error *ngIf="controls.email.invalid">{{
        getErrorMessage(controls.email)
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-input mt-3">
    <div class="form-button">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="recoveryForm.invalid"
      >
        Resetuj hasło
      </button>
    </div>
  </div>
</form>
